@using X.PagedList.Mvc.Core
@model DAL.ViewModel.MenuCategoryVM

@{
    ViewData["Title"] = "Menu Item Page";
    if (TempData["Message"] != null)
    {
        <div class="alert alert-@TempData["MessageType"]">@TempData["Message"]</div>
    }
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Page</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/media.css">
    <link rel='stylesheet' href='https://cdn.datatables.net/1.13.5/css/dataTables.bootstrap5.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="bg-white">
   
   
        <table id="table" class="table align-middle table-hover bg-white">
            <thead class="bg-light">
                <tr>

                    <th><input type="checkbox" class="me-2" id="selectAll" style=" width: 16px; height: 16px;" />Name</th>
                    </th>
                    <th>ItemType</th>
                    <th> Rate</th>
                    <th>Quantity</th>
                    <th>Available</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var menuitem in Model.menuItems)
                {
                    <tr class="tblclass" data-id="@menuitem.ItemId">
                        <td>
                            <div class="d-flex align-items-center">
                                <input type="checkbox" name="chkItem" class="checkclass" />
                                <img src="~/assest/dining-menu.png" alt="" style="width: 45px; height: 45px"
                                    class="rounded-circle ms-2" />
                                <div class="ms-3">
                                    <p class="text-secondary mb-1">@menuitem.ItemName</p>
                                </div>
                            </div>
                        </td>
                        <td>
                            <img src="~/assest/icons/@(menuitem.ItemtypeId == 1 ? "veg-icon.svg" : "non-veg-icon.svg")"
                                style="width: 20px; height: 20px" class="rounded-circle" />
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@menuitem.Rate</p>
                        </td>
                        <td>
                            <p class="fw-normal mb-1">@menuitem.Quantity</p>
                        </td>
                        <td class="text-center"> <!-- Center the toggle switch -->
                            <div class="form-check form-switch">
                                <input class="form-check-input canView" type="checkbox" id="toggleSwitch"
                                    @(menuitem.IsAvailable ?? false ? "checked" : "")>
                            </div>
                        </td>
                        <td>
                            <i class="fa-solid fa-marker" data-bs-toggle="modal" data-bs-target="#editMenuItemModal"
                                onclick="editItem(@menuitem.ItemId)"></i>
                            <i class="fa-regular fa-trash-can ms-4" data-bs-toggle="modal" data-bs-target="#editMenuItemModal"
                                onclick="editItem(@menuitem.ItemId)"></i>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
    @Html.PagedListPager(Model.menuItems, page => "javascript:loadMenuItems(" + page + ")",
    new PagedListRenderOptions { Display = PagedListDisplayMode.IfNeeded })
</div>
        
</div>
    <div class="modal" id="editMenuItemModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title text-secondary" id="exampleModalLabel">Edit Menu Item</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body" id="modalbody">
                    @* Editmodal will be shown here *@
                </div>

            </div>

        </div>
    </div>



    <script>
        $(document).ready(function () {
            $('#selectAll').click(function () {
                $('input[name="chkItem"]').prop('checked', this.checked);
            });

            // If selectAll is Pressed  And Perticuler checkbox is unchecked then selectAll checkbox also unchecked
            document.querySelectorAll('input[name="chkItem"]').forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    if (!this.checked) {
                        document.getElementById('selectAll').checked = false;
                    }
                });
            });
            // If All checkbox is checked then selectAll checkbox also checked
            document.querySelectorAll('input[name="chkItem"]').forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    let flag = Array.from(document.querySelectorAll('input[name="chkItem"]')).every(function (checkbox) {
                        return checkbox.checked;
                    });
                    if (this.checked && flag) {
                        document.getElementById('selectAll').checked = true;
                    }
                });
            });
        });
          
        function editItem(itemid) {
            console.log("HOmenefhjmdejhedj,");
            $.ajax({
                url: '@Url.Action("EditMenuItem", "Menu")',
                type: 'GET',
                data: { itemId: itemid },
                success: function (data) {
                    $("#modalbody").html(data);
                    @* $("#editItemModal").modal("show"); *@
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching items:', error);
                }
            });
        }
        // selectAll 

       
        function DeleteItem() {

            let Item = [];

            $('tbody tr').each(function () {
                @* let row *@
                    @* let RoleId = '@Model.First().RoleId'; *@
                    let itemId = $(this).attr("data-id");
                let checkeditem = $(this).find(".checkclass").is(":checked");


                if (checkeditem) {
                    Item.push({
                        ItemId: itemId,

                    });
                }

            })
            console.log("Hiiiii");
            console.log(Item);

            @* if (Permission.length === 0) {
                            alert("No Permission Selected.");
                            return
                        } *@

                $.ajax({
                    url: '@Url.Action("DeleteItem", "Menu")',
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(Item),
                    success: function () {
                        console.error('Save');
                    },
                    error: function (xhr, status, error) {
                        console.error('error Feching items:', error);
                    }
                })
        }

        $(".deletebtn").click(function () {

            console.log("Save button is Pressed");
            DeleteItem();
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    <!-- jQuery -->
    <script src='https://code.jquery.com/jquery-3.7.0.js'></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>

    <script src="~/js/userPage.js"></script>




</body>

</html>

